@tailwind base;
@tailwind components;
@tailwind utilities;

/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background:black; /* Set the background color of the whole page to black */
}


.navbar-container {
  position: sticky;
  top: 50px;
  width: 650px;
  margin:auto;
  z-index: 100 

}

.logo {
  position: absolute;
  top: 40px;  
  left: 950px; 
  transform: translate(-50%, -50%);
  width: 200px; 
  height: 200px; 
  background-image: url('logo1.jpeg'); 
  background-size: cover;
  background-position: center center;
}










.nav-links {
  display: flex;
  align-items: center;
  background: #1D267D;
  padding: 20px;
  border-radius: 100px; /* Use a large value to create a circular boundary */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.nav-links .link {
  position: relative;
  color: white;
  font-size: 20px;  
  font-weight: 500;
  padding: 6px 12px;
  text-decoration: none;
  margin-right:50px;
}

.nav-links .link:before {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  height: 3px;
  width: 0%;
  background: #34efdf;
  border-radius: 12px;
  transition: all 0.4s ease;
}

.nav-links .link:hover:before {
  width: 100%;
}

.nav-links .link.center:before {
  left: 50%;
  transform: translateX(-50%);
}

.nav-links .link.upward:before {
  width: 100%;
  bottom: -8px;
  opacity: 0;
}

.nav-links .link.upward:hover:before {
  bottom: -3px;
  opacity: 1;
}

.nav-links .link.forward:before {
  width: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease;
}

.nav-links .link.forward:hover:before {
  transform: scaleX(1);
  transform-origin: left;
}
  



/* for mobile */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.navbar__title {
  font-size: 1.5rem;
}

.navbar__dropdown {
  position: relative;
}

.navbar__dropdown button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

.navbar__dropdown-content {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #333;
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
}

.navbar__dropdown-content li {
  padding: 10px;
  border-bottom: 1px solid #fff;
}

.navbar__dropdown-content li:last-child {
  border-bottom: none;
}

.navbar__dropdown-content li:hover {
  background-color: #555;
}

.navbar__dropdown-content.show {
  display: block;
}


